@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

html, body {
    height: 100%;
    background-color: #152733;
    overflow: hidden;
}


.btn-primary{
    background-color: rgb(4, 83, 83); 
    outline: none;
    border: 0px;
    
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: rgb(6, 129, 129);
}




.fade-out {
    animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

